@import "jeet"
@import "_settings"

/*font-family 'Lato', sans-serif;*/
/*font-family 'Roboto', sans-serif;*/

html
  /*@media (min-width 300px)*/
    /*background-color #ff0000*/
  /*@media(min-width 640px)*/
    /*background-color #0000ff*/


/*edit()*/

h1
  font-family 'Lato', 'sans-serif'
  font-size 2.0em
  font-weight 900

h2
  font-family 'Lato', 'sans-serif'
  font-size 1.5em
  font-weight bold

h3
  font-family 'Lato', 'sans-serif'
  font-size 1em
  font-weight 300
  color #c5c5c5

h4
  font-family 'Lato', 'sans-serif'
  font-size 0.6em
  font-weight normal
  color #777777

h5
  font-family 'Lato', 'sans-serif'
  font-weight normal
  color #7a7a7a

p
  font-family 'Roboto', 'sans-serif'
  font-size 1em
  font-weight 300
  line-height 150%
  color #575757

.wrapper
  @media(min-width 300px)
    center(600px)
  @media(min-width 640px)
    center(1000px)


#logo
  margin-top 2em
  center(400px)
  text-align center

hr

  margin-top 1.5em

#main-title
  margin-top 1em
  center(800px)
  text-align center

#tagline
  margin-top 1em
  center(600px)
  text-align center

#callToAction
  background-color #3D4C53

  img
    max-width 100%
  h2
    color #fdfdfd
    text-align center
  p
    padding-top 0.5em
    margin-left 0.5em
    margin-right 0.5em
    color #a8a8a8

  #get-info-form
    padding-top 1.0em

  input[name=emailBox]
    col(1)
    font-family 'Lato', 'sans-serif'
    font-size 1.500em
    font-weight 300
    /*width 11.25em*/
    height 2.5em
    background-color #f0f0f0
    text-align center
    border none

  button[name=submit]
    col(1)
    font-family 'Lato', 'sans-serif'
    font-size 1.500em
    font-weight 900
    /*width 11.00em*/
    height 4.0em
    background-color #F1433F
    text-align center
    color #ffffff
    border none

  h5
    padding-left .5em

#social
  center(400px)
  text-align center

.social-reaction
  img
    padding-bottom 1em
    col(1)
  h4
    font-size 1.3em








