//Created by david on 3/3/15.
doctype html
html(lang="en")
    head
        title Robodub: Robot cloud gamming
    body
        header
            h1 Robot enable game company
            h3 Cloud based drones and robots take control from anywhere

        #callToAction
            img(src = '/img/IMG_8958.JPG')
            h3 Sign up for more info!
            p
            input(type = 'textbox', placeholder = 'enter your email address')

